:root {
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
}

.slogan {
  padding: 15% 0% 0% 10%;
  font-size: 5vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
